<ion-header>
  <ion-toolbar>
      <ion-buttons (click)="onclickBack()"><ion-icon name="arrow-round-back"></ion-icon>&nbsp;&nbsp;
    <ion-title>forget_password</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    
    <ion-input placeholder="Code" [(ngModel)]="code"></ion-input>
  </ion-item>
  <ion-item>
      <ion-input placeholder="Password" [(ngModel)]="new_password"></ion-input>
    </ion-item>
    <ion-item>
        <ion-input placeholder="Re-enter Password" [(ngModel)]="repeat_password"></ion-input>
      </ion-item>


      <ion-button (click)="onclickchangepassword()">Change Password</ion-button>

</ion-content>
