<ion-header>
  <ion-toolbar>
      <ion-buttons (click)="onclickBack()"><ion-icon size="large" name="arrow-round-back"></ion-icon>&nbsp;&nbsp;
    <ion-title>about_us</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-item>
    <ion-label text-wrap>Aanchal Fashion Design & Boutique</ion-label>
</ion-item>
  <ion-item>
    <ion-label text-wrap>Hours</ion-label>
    <ion-select interface="action-sheet">
      <ion-select-option disabled>Sunday    : 1:30-7pm </ion-select-option>
      <ion-select-option disabled="true">Monday    : 11:00am-7pm </ion-select-option>
      <ion-select-option disabled>Tuesday    : 11:00am-7pm </ion-select-option>
      <ion-select-option disabled>Wednesday    : 11:00am-7pm </ion-select-option>
      <ion-select-option disabled>Thursday    : 11:00am-7pm </ion-select-option>
      <ion-select-option disabled>Friday    : 11:00am-7pm </ion-select-option>
      <ion-select-option disabled>Saturday    : 11:00am-7pm </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
      <ion-label text-wrap>Phone No  : 095589 62111</ion-label>
  </ion-item>
  <ion-item>
      <ion-label text-wrap>Address  : <br>
       A-7, Rajplaza, Sonal Cross Road, Gurukul Rd, Memnagar, Ahmedabad, Gujarat 380052</ion-label>
  </ion-item>
  <br>
  <ion-item>
    <div><iframe width="100%" height="200px" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ5-zwc6WEXjkRIwjXLUfrWjQ&key=AIzaSyBNgU0rRxQxbwxJLZTUcQLQaHmxv5gytY4" allowfullscreen></iframe></div>
  </ion-item>

</ion-content>
