<ion-header>
  <ion-toolbar>
      <ion-buttons size="large" (click)="onclickBack()"><ion-icon size="large" name="arrow-round-back"></ion-icon>&nbsp;&nbsp;
    <ion-title>customer_support</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
    <iframe
    style="background-color: black;"
    allow="microphone;"
    width="100%"
    height="99%"
    src="https://console.dialogflow.com/api-client/demo/embedded/87ea3984-25a2-40ea-95d5-2cf634282ebc">
</iframe>
</ion-content>
